{% extends "index.html.twig" %}

{%  block menu %}   
    {% include 'menu/parts.html.twig' %}
{% endblock %}

{% block header %}
        <div class="col-12 text-center">Добавить запчасти</div>
{% endblock %}


{% block body %}
    <div class="row d-flex justify-content-center">
        <div class="col-8 border border-1 p-3">
            {{ form_start(offerObj) }}
                <div class="row">
                    <div class="col-6">
                        {{ form_row(offerObj.part.partBrand.name, {'attr': {'class': 'form-control-sm'}}) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(offerObj.part.numberText, {'attr': {'class': 'form-control-sm'}}) }}
                    </div>
                </div>
                    
                <div class="row">
                    <div class="col-12">
                        {{ form_row(offerObj.part.info, {'attr': {'class': 'form-control-sm'}}) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                        {{ form_row(offerObj.property, {'attr': {'class': 'form-select-sm'}}) }}
                    </div>
                    <div class="col-3">
                        {{ form_row(offerObj.amount, {'attr': {'class': 'form-control-sm'}}) }}
                    </div>
                    <div class="col-3">
                        {{ form_row(offerObj.price, {'attr': {'class': 'form-control-sm'}}) }}
                    </div>
                    <div class="col-3">
                        {{ form_row(offerObj.priceSale, {'attr': {'class': 'form-control-sm'}}) }}
                    </div>
                </div>    

                <div class="row">
                    <div class="col-12">
                        {{ form_row(offerObj.comment, {'attr': {'class': 'form-control-sm'}}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        {{ form_row(offerObj.public) }}
                    </div>
                </div>
                    
                    
                    
                {#{% if not  form.userParts.vars.value.id %}    #}
                    <div class="row">
                        <div class="col-6">
                            {#{{ form_row(form.attachePhoto.attacheFile, {'attr': {'class': 'form-control-sm'}}) }}#}
                        </div>
                    </div>

            {{ form_end(offerObj) }}
        </div>
    </div>
    
    
    
    
{% endblock %}



{% block javascripts %}
  {{ parent() }}

{% endblock %}